instructions for script: filter_reads_with_reference.sh

This is part of Cássio van den Berg's repository phylogenomic-scripts
https://github.com/cavdberg/phylogenomic-scripts


Version: 2.0 - 10 Jul 2024
Requirements: 

Samtools 1.6
bwa
bedtools (bamToFastq)

Environment installation:

conda create -n filtering
conda install samtools=1.6
conda install bwa=0.7.17
conda install bedtools=2.31.1
conda install pigz
